obj/
.vs/
bin/
.vs/
*.suo
GoogleCloud/AppEngineScraper/node_modules/
packages/
Web/WebApp/Resources/EasyEditor/V?/ved*js
Web/WebApp/Resources/EasyEditor/V?/ved.min.js
Web/WebApp/Resources/QueryBuilder/qb*.js
Web/WebApp/Resources/QueryBuilder/MiniQB/qbmini.*.js
*.bak
*.orig
WebDeploy/
/*/*/Logs/*.csv
/*/*/Logs/archives/*.csv
StyleCop.Cache
*.csproj.user
*.ts.js*
/Web/WebApp/node_modules
/Web/WebBehaviorTrackingApp/node_modules
*.dbmdl
*.sqlproj.user
*.sln.DotSettings.user
/$tf
*.jfm
Setup/server_log.txt
*.css.map
/Build
Web/WebApp/Resources/grunticon/
thumbs.db
/BuildScripts/node_modules
Web/WebApp/Resources/CSS/dotd-survey.css
Web/WebApp/Resources/CSS/dotd.css
Web/WebApp/Resources/CSS/local-verification.css
Web/WebApp/Resources/CSS/binary.css
Web/WebApp/Resources/CSS/accountdashboard/main.css
Web/WebApp/Resources/CSS/admin/admin.css
Web/WebApp/Resources/CSS/ddg/ddg.css
Web/WebApp/Resources/CSS/easyeditor/documentManager.css
Web/WebApp/Resources/CSS/easyeditor/main.css
Web/WebApp/Resources/CSS/easyeditor/ved.css
Web/WebApp/Resources/EasyEditor/Shared/css/ved_client_colours.css
Web/WebApp/Resources/CSS/easyeditor/mobile-css.css
Web/WebApp/Resources/CSS/imagemanager/binary-imagemanager-color.css
Web/WebApp/Resources/CSS/flow/binary-programs-colour.css
Web/WebApp/Resources/CSS/flow/common-programs-colour.css
Web/WebApp/Resources/CSS/imagemanager/imagemanager-fullpage.css
Web/WebApp/Resources/CSS/landingpages/landingpages.css
Web/WebApp/Resources/CSS/querybuilder/qbminiapp.css
Web/WebApp/Resources/CSS/querybuilder/readonly.css
Web/WebApp/Resources/CSS/querybuilder/segments.css
Web/WebApp/Resources/CSS/querybuilder/segments-colour.css
Web/WebApp/Resources/CSS/emojipicker/emoji.css
Web/WebApp/Resources/CSS/copykat.css
Web/WebApp/Resources/CSS/ddg.css
Web/WebApp/Resources/CSS/binary-survey.css
Web/WebApp/Resources/CSS/signup.css
Web/WebApp/Resources/CSS/print/campaign-report.css
Web/WebApp/Resources/CSS/sms.css
Web/WebApp/Resources/CSS/easyeditor/sms.css
Web/WebApp/Resources/CSS/survey-ddg.css
Web/WebApp/Resources/CSS/product-recommendations.css
Web/WebApp/Resources/CSS/product-recommendations-report.css
Web/WebApp/Resources/CSS/product-recommendations/binary-productrecommendationsbuilder-colour.css
Web/WebApp/Resources/CSS/statisticsdashboard/main.css
Web/WebApp/Resources/css/landingpages/survey-reports.css
Web/WebApp/Resources/CSS/ecommerce/ecommerce.css
Web/WebApp/**/ng-out-dev/
Web/WebApp/**/ng-out/
Web/WebApp/package-lock.json
/Web/WebApp/Scripts/photoeditorsdk
/Web/WebApp/Build/Reports/JUnit/**/*.xml
Web/WebApp/**/testresults
/Web/WebBehaviorTrackingApp/package-lock.json
/Core/dotMailer.Core/Billing/Invoices/HtmlGeneration/AdditionalInfoTemplate.cs
*.code-workspace
/Web/WebApp/dist/global-elements
/Web/WebApp/Angular/GlobalElements/src/lib/i18n/TypeDefinitions/*.*.d.ts
/Web/WebApp/Resources/Webchat/webChatAppVendor.css
/Web/WebApp/Resources/Webchat/webChatAppVendor.js
/Web/WebApp/Resources/Webchat/webChatAppVendor.min.js
/Web/WebApp/chatwidgettest.html
.vscode/
/Web/WebApp/Resources/Webchat/webChatApp.css
launchSettings.json
*.projectSets.json